.expo/
# dependencies
/node_modules

# misc
.DS_Store
.env
.env.local
.expo/
.expo-shared/
.yarn/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# macOS
.DS_Store

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.vssscc
.npmrc

# build outputs
/dist
/build
/web-build
/cache
